*{
    /*border: 1px solid red;*/
}

.footer{
    width: 100%;
    height: auto;
    padding: 15px 0;
    display: flex;
    justify-content: right;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
}

.version-txt{
    font-size: 11px;
    color: rgba(128, 128, 128, 0.623);
    margin-right: 20px;
}