*{
    /*border: 1px solid red;*/
    font-family: 'Public Sans', sans-serif;
    padding: 0;
    margin: 0;
    /*color: #1677ff*/
}

.logo{
    width: 35px;
}

.middle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-outer-container{
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: center;
}

.login-container{
    width: 100%;
    height: 95vh;
}

.login-header{
    width: auto;
    height: 90px;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.login-header-text{
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
}

.login-content-container{
    width: 100%;
    height: 75vh;
}

.login-outer{
    width: 35%;
    height: 400px;
}