@import url("../css/global.css");

*{
    /*border: 1px solid red;*/
    font-family: 'Public Sans', sans-serif;
    padding: 0;
    margin: 0;
}

.content-header-text{
    font-size: 25px;
    font-weight: 550;
}

.textBtn{
    font-size: 12px;
    color: var(--primary-color-dark);
    text-decoration: underline;
}

.textBtn:hover{
    cursor: pointer;
}

.login-main-outer{
    width: 100%;
    height: auto;
    padding: 20px 15px;
}

.logo{
    width: 50px;
}

.drawer-logo{
    width: 20px;
    margin-right: 5px;
}

.login-btn{
    width: 100%;
    background-color: var(--primary-color) !important;
}

.middle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-outer-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: url("../../Assets/Images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.login-container{
    width: 100%;
    height: 95vh;
}

.login-header{
    width: auto;
    height: 90px;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.drawer-header{
    width: auto;
    height: 65px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-top: 3px;
}

.h{
    height: auto;
}

.login-header-text{
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
}

.login-content-container{
    width: 100%;
    height: 75vh;
}

.login-outer{
    width: 30%;
    height: auto;
}

.login-head-outer{
    width: 100%;
    height: auto;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.login-inner{
    width: 49%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: left;
}

.inner1{
    justify-content: right;
}

.toolbar{
    background-color: white;
}

.toolbar-inner{
    width: 100%;
    height: auto;
    padding: 5px 0;
    display: flex;
    justify-content: right;
    align-items: center;
}

.logout-icon{
    width: 25px;
}

.logout-icon:hover{
    cursor: pointer;
}

.icon-user{
    color: var(--primary-color);
    font-size: 30px !important;
}

.username{
    font-size: 15px;
    color: black;
    margin: 0 20px 0 8px;
}

.dashboard-title-outer{
    width: 100%;
    height: auto;
    padding: 5px 0;
    padding-left: 20px;
}

.dashboard-title{
    font-size: 12px;
    color: gray;
}

.comman-outer{
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.comman-header-outer{
    width: 100%;
    height: auto;
    /*padding: 10px 15px;*/
    display: flex;
    justify-content: left;
    align-items: center;
}

.space-bar{
    height: 15px;
}

.stat-cards-outer{
    width: 100%;
    height: auto;
    padding: 5px 0;
    display: flex;
    flex: 1;
}

.stat-cards-inner{
    width: 25%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.align-left{
    justify-content: left;
}

.align-right{
    justify-content: right;
}

.content-main-outer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.content-main-inner{
    width: 50%;
    height: auto;
}

.cmi1{
    width: 60% !important;
    padding-right: 10px;
}

.cmi2{
    width: 40% !important;
    padding-left: 10px;
    height: 100% !important;
}

.content-title{
    width: 100%;
    height: auto;
    padding: 10px 0;
    display: flex;
}

.content-title-text{
    color: black;
}

.piechart-outer{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.comman-outer-container{
    width: 100%;
    height: auto;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.11);
    box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.11);
    padding: 15px;
    margin-top: 15px;
  }
  
  .comman-path-outer{
    width: auto;
  }
  
  .comman-path{
    font-size: 15px;
    color: gray;
  }
  
  .comman-header{
    font-size: 30px;
    margin: 5px 0 15px 0;
  }
  
  .space{
    height: 10px;
  }